$text-color: #0f0f0f;
$code-color: #0f0f0f;
$bg-color: #f0f0f0;
$bg-code-color: #f0f0f0;
$link-color: #006446;

$text-dcolor: #f0f0f0;
$code-dcolor: #f0f0f0;
$bg-dcolor: #0f0f0f;
$bg-code-dcolor: #0f0f0f;
$link-dcolor: #00b55b;

:root {
    --text-color: $text-color;
    --bg-color: $bg-color;
    --link-color: $link-color;
}

:root[a="dark"] {
	// theme_config: Invert colors if 'appearance' is set to dark in _config.yml
	--text-color: $text-dcolor;
    --bg-color: $bg-dcolor;
    --link-color: $link-dcolor;
}

@media (prefers-color-scheme: dark) {
	/* theme_config: Also invert colors if 'appearance' is set to auto in _config.yml
	and browser suggests visitor prefers dark mode */
	body[a="auto"] {
		--text-color: $text-dcolor;
        --bg-color: $bg-dcolor;
        --link-color: $link-dcolor;
	}
}