// Ruby language highlighting
.language-diff .gd {
    background-color: rgba(255, 127, 80, 0.25);
}

.language-diff .gi {
    background-color: rgba(0, 128, 128, 0.3);
}

.language-console .go {
    color: darkblue;
}

@media (prefers-color-scheme: dark) {
    .language-console .go {
        color: lightskyblue;
    }
}

// #post-list li {
// 	// End each post item with an ellipsis rather than wrapping its entire title
// 	width: 100%;
// 	text-overflow: ellipsis;
// 	white-space: nowrap; // Don't do new lines after ellipsis
// 	overflow: hidden; // Don't show anything after ellipsis
// }

.toc {
    position: fixed;
    top: 6rem;
    left: 1.5rem;
    width: 24rem;
}
@media (max-width: 1900px) {
    .toc {
        display: none;
        visibility: hidden;
    }
}

table {
	margin: 1rem 0;
}
table ul {
	margin: 0;
	padding-left: 1rem;
}
th[scope="row"] {
	text-align: left;
	font-weight: normal;
}

.leo {
	margin: 0 0 1rem 1rem;
}

@media (max-width: 800px) {
	.leo {
		// Undo float: right on header image on small screens
		float: none;
		margin: 0 auto;
	}
}