---
---
@import "no-style-please";
@import "syntax-highlighting";

// #post-list li {
// 	// End each post item with an ellipsis rather than wrapping its entire title
// 	width: 100%;
// 	text-overflow: ellipsis;
// 	white-space: nowrap; // Don't do new lines after ellipsis
// 	overflow: hidden; // Don't show anything after ellipsis
// }

table {
	margin: 1rem 0;
}
table ul {
	margin: 0;
	padding-left: 1rem;
}
th[scope="row"] {
	text-align: left;
	font-weight: normal;
}

.leo {
	margin: 0 0 1rem 1rem;
}

@media (max-width: 800px) {
	.leo {
		// Undo float: right on header image on small screens
		float: none;
		margin: 0 auto;
	}
}